#create-post-form-holder {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 91vh;
}

#create-post-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #f2fffa;
    border: 2px solid #023436;

    width: 50vw;
    min-height: 75vh;
    padding: 2%;
    margin: 5%;
    gap: 1.5rem;

    color: #023436;
}

.form-input-holder {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */

    /* display: grid;
    grid-template-columns: 1fr 2fr; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.form-input-holder label {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
}

.form-input-field {
    width: 30vw;
    max-width: 30vw;

    background-color: #f2fffa;
    border: none;
    outline: none;
    border-bottom: 2px solid #023436;
    padding: 1%;

    font-size: 1.1rem;
}

.form-input-field:focus {
    border-bottom: 3px solid #023436;
}

.form-input-field::placeholder {
    color: #023436;
}

.form-input-field#post-content {
    height: 5rem;
    resize: vertical;
    max-height: 10rem;
    overflow-y: auto;
}

#create-post-img {
    max-width: 50vw;
}

#post-passcode {
    width: 10vw;
    height: 1rem;
    border: 2px solid #B02E0C;
}

#create-post-btn {
    margin-left: auto;
}