.post-card-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.post-card-holder a {
    color: #000000;
    text-decoration: none;
}

.post-comment-holder {
    display: grid;
    grid-template-columns: 4fr 1fr;

    width: 60vw;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    background-color: #f2fffa;
    border: 2px solid black;

    /*width: 50vw;*/
    min-height: 40vh;
    max-height: 80vh;
    overflow-y: scroll;

    margin: 2%;
    padding: 2%;
}

.post-img {
    min-width: 40vh;
    max-width: 90%;
    height: 40vh;
}